@import "../../colors.scss";

.incidents {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 86px;
  .add {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    

    .add-incident {
      min-width: 304px;
      height: 38px;
      background-color: $terciario1;
      border-color: $primario;
      font-family: "Archivo", sans-serif;
      color: white;
      font-weight: 500;
      font-size: 16px;
      padding-top: 5px;
      margin-bottom: 20px;
      &:hover {
        background-color: $secundario;
      }
    }
  }
}
