.hide {
    display: none;
  }

.button-map{
    background-color: #F28517;
    font-size: 14px;
    height: 32px;
    border-radius: 6px;
    border-color:#e8d1bb ;
    margin-top: 100%;
    margin-left: 25%;
}
