.userInfo {
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .dropdown {
    position: absolute;
    top: 6.5em;
    right: 2em;
  }

  .user {
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .ant-avatar:hover {
      background-color: #8040ff;
      outline: 0.5px solid #8040ff;
      box-shadow: 0px 0px 15px rgba(56, 169, 240, 0.75);
    }

    h1 {
      font-size: 18px;
    }

    .icons {
      display: flex;
      justify-content: center;
      gap: 20px;
      p {
        font-size: 16px;
        margin-block: 10px;
      }
    }

    .logout-profile {
      margin-top: 20px;
      width: 80px;
    }
  }
}
