@import "../../colors.scss";

.events {
  width:390px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  margin-bottom: 10em;
  .add {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .add-event {
      min-width: 304px;
      height: 38px;
      background-color: $terciario1;
      border-color: $primario;
      font-family: "Archivo", sans-serif;
      color: white;      
      font-weight: 500;
      font-size: 16px;
      padding-top: 5px;
      &:hover {
        background-color: $secundario;
      }
    }
  }
}
