.postDetail {
  // background-color: navy;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // margin-top: 4em;
  margin-bottom: 5em;
  padding: 20px;
  gap: 20px;

  .container-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;

    .user {
      position: absolute;
      top: 90px;
      color: white;
      height: 3em;
      display: flex;
      align-items: center;
      padding-left: 20px;
      p {
        margin-left: 15px;
        font-size: 16px;
        font-weight: 400;
        text-shadow: black 0.1em 0.1em 0.2em;
      }
    }

    .imagePost {
      // background-color: rgb(255, 0, 111);
      display: flex;
      flex-direction: column;

      .edit {
        // background-color: aqua;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        margin: 17px 20px 0px 0px;

        a {
          all: unset;
          cursor: pointer;
          color: rgb(255, 255, 255);
          font-size: 20px;
          &:hover {
            color: rgba(137, 85, 185);
          }
        }
      }
    }
  }
}

.container-body {
  max-width: 600px;
  width: 100%;
  align-items: flex-start;
  text-align: left;

  .icons {
    font-size: 20px;
    display: flex;
    gap: 10px;
    .icon-1 {
      font-size: 20px;
      gap: 10px;
      
    }
    .icon-2 {
      font-size: 20px;
      gap: 10px;
      
    }
    
  }

  .body {
    // background-color: beige;
    h1 {
      font-size: 20px;
      font-weight: 400;
    }
    p {
      font-size: 14px;
      font-weight: 300;
    }
  }

  .comments {
    // background-color: darkgoldenrod;
    
    h2 {
      font-size: 16px;
      font-weight: 400;
    }
    p {
      font-size: 14px;
      font-weight: 300;
      white-space: pre;
    }
  }
}
