@import "../../colors.scss";

.cardDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  max-width: 600px;
  font-family: "Archivo", sans-serif;
  border-top: 1px solid rgba(128, 128, 128, 0.239);
  margin-top: 19px;
  a {
    all: unset;
    cursor: pointer;
  }

  .top-container-detail {
    margin: 18px 16px  12px 16px;
    display: flex;
    justify-content: space-between;

    .usuario-detail {      
      display: flex;
      margin-top: 10px;
      width: 65%;

      .ant-avatar {
        background-color: none;
      }

      .nombre-detail {
        width: 155px;
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        padding-left: 14px;
        font-size: 17.42px;
        font-weight: 400;
        gap: 5px;

        .ubicacion-detail {
          font-size: 12px;
          font-weight: 700;
        }
      }
    }

    .estado-container-detail {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-top: 10px;

      .estado-incidencia-detail {
        padding: 0 5px;
        width: 122px;
        height: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(15, 23, 42, 0.5);
        border-radius: 5px;
        font-size: 11px;
        font-weight: 700;
        margin-bottom: 35px;
        span {
          color: $secundario;
          margin-left: 5px;
          text-align: center;
        }
      }

      .fecha-detail {
        display: flex;
        justify-content: flex-end;
        font-size: 12px;
        font-weight: 300;
        width: auto;
      }
    }
  }

  .imagen-incidencia-detail {
    display: flex;
  }

  .descripcion-incidencia-detail {
    padding: 25px 16px 30px 16px;

    .category {
      font-size: 15px;
      font-weight: 700;
      text-transform: capitalize;
      margin-bottom: 17px;
    }

    h1 {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 10px;
    }
    p {
      font-size: 12px;
      font-weight: 300;
      text-align: justify;
    }
  }

  .map-detail {
    width: 100%;
    height: 190px;
    background-color: rgb(180, 178, 178);
  }
}

.sin-controles .mapboxgl-ctrl {
  display: none;
}



.mapa-incidencias {
  margin-bottom: 200px;
}

.space-for-map {
  height: 150px;
}
