@import "../../colors.scss";

.cardDetail {
  font-family: "Archivo", sans-serif;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  margin-top: 15px;
  margin-bottom: 7em;
  a {
    all: unset;
    cursor: pointer;
  }

  .top-container {
    margin: 20px 18px 8px 18px;
    display: flex;

    .usuario {
      display: flex;
      align-items: center;
      width: 70%;
      .ant-avatar {
        box-shadow: 0em 0.2em 0.5em rgba(0, 0, 0, 0.3);
      }

      .nombre {
        margin-left: 20px;
        font-size: 19px;
        font-weight: 300;
      }
    }

    .estado-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-top: 5px;
      .estado-incidencia {
        display: flex;
        justify-content: center;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(128, 128, 128, 0.5);
        border-radius: 6px;
        padding: 7px;
        font-size: 13px;
        font-weight: 700;
        margin-bottom: 10px;
        span {
          color: $secundario;
          margin-left: 3px;
        }
      }
    }
  }

  .mid-container {
    height: 20px;
    display: flex;
    align-items: center;
    margin-top: 20px;

    .category {
      flex: 1;
      text-align: center;
      font-size: 13px;
      text-transform: capitalize;
    }

    .fecha {
      flex: 1;
      color: rgba(128, 128, 128);
      display: flex;
      justify-content: flex-end;
      padding-right: 15px;
      font-size: 12px;
    }
  }

  .imagen-incidencia {
    // width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5px;
  }

  .descripcion-incidencia {
    padding: 10px 15px 20px 15px;

    h1 {
      font-size: 14px;
    }
    p {
      font-size: 12px;
      font-weight: 300;
      text-align: justify;
    }
  }

  .ubicacion {
    width: 60%;
    font-size: 12px;
    font-weight: 700;
    padding-left: 12px;
  }
}
