@import "../../colors.scss";

.cardDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  max-width: 600px;
  font-family: "Archivo", sans-serif;
  border-top: 1px solid rgba(128, 128, 128, 0.239);
  margin-top: 19px;
  a {
    all: unset;
    cursor: pointer;
  }

  .top-container {
    margin: 10px 16px;
    display: flex;
    justify-content: space-between;

    .usuario {
      display: flex;
      margin-top: 10px;
      width: 60%;

      .nombre {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        margin-left: 20px;
        font-size: 17.42px;
        font-weight: 400;
        gap: 5px;

        .ubicacion {
          font-size: 12px;
          font-weight: 700;
        }
      }
    }

    .estado-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-top: 10px;

      .estado-incidencia {
        padding: 0 5px;
        width: 122px;
        height: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(15, 23, 42, 0.5);
        border-radius: 5px;
        font-size: 11px;
        font-weight: 700;
        margin-bottom: 35px;
        span {
          color: $secundario;
          margin-left: 15px;
          text-align: center;
        }
      }

      .fecha {
        display: flex;
        justify-content: flex-end;
        font-size: 12px;
        font-weight: 300;
        width: auto;
      }
    }
  }

  .imagen-incidencia {
    display: flex;
  }

  .descripcion-incidencia {
    padding: 20px 16px 10px 16px;

    .category {
      font-size: 15px;
      font-weight: 700;
      text-transform: capitalize;
    }

    h1 {
      font-size: 14px;
      font-weight: 400;
    }
    p {
      font-size: 12px;
      font-weight: 300;
      text-align: justify;
    }
  }

  .map-detail {
    width: 100%;
    height: 190px;
    background-color: rgb(180, 178, 178);
  }
}

.sin-controles .mapboxgl-ctrl {
  display: none;
}

.mid-container{
  margin-top: 5%;
  margin-left: 5%;
  font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 16px;
}

.mapa-incidencias{
  margin-bottom: 200px;
}

.space-for-map{
  height: 150px;
}