@import "../../colors.scss";

.wellcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  height: 70vh;

  

  .saludo {
    margin-top: 80px;
    margin-bottom: 65px;
    span.nombre {
      text-transform: uppercase;
      color: $terciario1;
      font-weight: 800;
      font-size: 15px;
    }

    p {
      color: $textos;
      font-weight: 800;
      font-size: 18px;
    }
  }

  .botones {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;

    a {
      text-decoration: none;
    }

    .btn-incidencias {
      border-style: solid;
      border-width: 2px;
      border-color: rgb(185, 185, 185);
      border-radius: 6px;
      width: 280px;
      height: 80px;
      display: flex;
      justify-content: center;
      &:hover {
        box-shadow: 11px 11px $terciario1;
      }
      p {
        // background-color: aqua;
        font-size: 19px;
        font-weight: 700;
        color: rgb(86, 86, 86);
        width: 30%;
        padding: 0px 40px 0px 30px;
      }
      img {
        height: 90px;
        display: flex;
        justify-content: flex-end;
      }
    }

    .btn-eventos {
      border-style: solid;
      border-width: 2px;
      border-color: rgb(185, 185, 185);
      border-radius: 6px;
      width: 280px;
      height: 80px;
      display: flex;
      justify-content: center;
      &:hover {
        box-shadow: 11px 11px $secundario;
      }
      p {
        font-size: 19px;
        font-weight: 700;
        color: rgb(86, 86, 86);
        width: 30%;
        padding: 0px 40px 0px 30px;
      }
      img {
        height: 90px;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

