@import "../../colors.scss";

.event {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  align-self: center;
  gap: 10px;

  .card-event {
    background-color: white;
    font-family: "Archivo", sans-serif;

    .top-container-event {
      padding: 0px 16px;
      h1 {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 16.5px;
        line-height: 24px;
      }
    }
    .mid-container-event {
      padding: 0px 11px;
      display: flex;
      flex-direction: column;
      gap: 11px;
      margin-bottom: 10px;

      .ubicacion {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: justify;
        span {
          margin-left: 5px;
        }
      }

      .fecha {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        span {
          margin-left: 5px;
        }
      }
    }

    .imagen-event-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
