.user-message {
  color: blue;
  text-align: right;
  margin-right: 5%;
}

.bot-response {
  color: green;
  text-align: left;
  margin-left: 5%;
}

.messages-container {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.formulario-chatbot {
  margin-left: 18%;
  position: absolute;
  bottom: 120px;

}

.asistencia-virtual{
    height: 68px;
left: 0px;
top: 16px;
background: #E26210;
}