.user-message {
  color: blue;
  text-align: right;
  margin-right: 5%;
}

.bot-response {
  color: green;
  text-align: left;
  margin-left: 5%;
}

.messages-container {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.formulario-chatbot {
  margin-left: 18%;
  position: absolute;
  bottom: 120px;

}

.chatbot-header {
    height: 10%;
    background: #E26210;
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }