.bot-response {
  padding: 0.8rem;
  width: 80%;
  text-align: start;
  float: left;
  background: #ffffff;
  border: 1px solid rgba(15, 23, 42, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 15px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 15px;
  -moz-border-radius-topleft: 0;
  border-radius: 10px;
  border-top-left-radius: 0;
  margin-left: 0.5rem;
  margin-right: auto;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.user-message {
  width: 80%;
  margin: 0.5rem;
  padding: 0.8rem;
  text-align: start;
  background: #ffffff;
  border: 1px solid rgba(15, 23, 42, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 15px;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius: 15px;
  -moz-border-radius-bottomright: 0;
  border-radius: 10px;
  border-top-right-radius: 0;
  float: right;
  margin-left: auto;
  margin-right: 0.5rem;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border-color: #f28517;
}


.messages-container {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.formulario-chatbot {
  margin-left: 5px;
  position: absolute;
  bottom: 20px;
}

.chatbot-header {
  height: 10%;
  background: #e26210;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #f8fafc;
  font-family: "Helvetica";
  font-size: 17.4194px;
}

.formulario-chatbot input {
  margin-bottom: 5px;
  margin-right: 15px;
  margin-left: 15px;
  padding-left: 20px;
  background: rgba(15, 23, 42, 0.25);
  border-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  height: 40px;
  width: 200px;
  font-family: "Helvetica";
}

.formulario-chatbot button {
  margin-bottom: 5px;
}
.message-container {
  background-color: rgb(255, 255, 255);
  border: 1px solid #f28517;
}

.input-chat {
  background: rgba(15, 23, 42, 0.25);
  border-radius: 10px;
  width: 75%;
  height: 4rem;
  display: inline-block;
  border: none;
  margin-right: 0.5rem;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  padding-left: 1rem;
}

.btn-chat-boot {
  font-size: 2.8rem;
  line-height: 2rem;
  border: none;
  background-color: transparent;
  color: rgba(15, 23, 42, 0.25);
  position: relative;
  top: 15px;
}
