.header {
  background-color: #F28517;  
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 999;
  height: 4em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;  

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .back{
      color: white;
      &:hover{
        color: rgb(154, 121, 185);
      }

    }

    .logo {
      height: 40px;
      margin-top: 5px;
      box-shadow: #0a0a09;
    }
  }

}
