@import "../../colors.scss";

.header {
  background-color: $primario;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 999;
  height: 2.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;  

  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 16px;
    margin-top: 20px;    
    margin-bottom: 20px;
    font-size: 20px;

    .back{
      color: $textos;
      &:hover{
        color: $terciario1;
      }

    }

    
  }

}
