.register {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 7em;
  margin-bottom: 7em;

  .register-form {
    width: 220px;

    input {
      font-family: "Quicksand", sans-serif;
      height: 21px;
      width: 200px;
      padding: 4px 11px;
      color: rgba(0, 0, 0, 0.814);
      font-size: 13px;
      line-height: 1.5714285714285714;
      border-width: 1px;
      border-style: solid;
      border-color: #d9d9d9;
      border-radius: 6px;
      transition: all 0.2s;
      margin-bottom: 16px;
      &::placeholder {
        color: rgb(188, 188, 188);
      }
      &:focus {
        outline: 0.5px solid #4096ff;
        box-shadow: 0px 0px 5px rgba(56, 169, 240, 0.75);
      }
      &:hover {
        outline: 0.5px solid #4096ff;
      }
    }

    .custom-input-file {
      // background-color: #ffffff;
      color: rgb(175, 175, 175);
      font-size: 13px;
      font-family: "Quicksand", sans-serif;
      cursor: pointer;
      width: 205px;
      border-radius: 6px;
      margin: 5px 0px 25px 0px;
      height: 21px;
      overflow: hidden;
      padding: 6px 6px 3px 12px;
      position: relative;
      text-align: left;
      border-width: 1px;
      border-style: solid;
      border-color: #d9d9d9;
      &:focus {
        outline: 0.5px solid #4096ff;
        box-shadow: 0px 0px 5px rgba(56, 169, 240, 0.75);
      }
      &:hover {
        outline: 0.5px solid #4096ff;
      }

      .input-file {
        border: 10000px solid transparent;
        cursor: pointer;
        outline: 0 none;
        padding: 0;
        position: absolute;
        right: -1000px;
        top: -1000px;
      }
    }

    .ant-btn {
      background-color: rgb(129, 196, 213);

      &:hover {
        background-color: rgb(154, 121, 185);
      }
    }
  }

  .logo {
    height: 95px;
    margin-bottom: 30px;
    padding-right: 25px;
  }

  a {
    text-decoration: none;
    font-size: medium;
    color: rgb(154, 121, 185);
    &:hover {
      font-weight: 600;
    }
  }
}

// button {
//   background-color: rgb(129, 196, 213);
//   color: white;
//   border-width: 1px;
//   border-style: solid;
//   border-color: #d9d9d9;
//   height: 33px;
//   width: 225px;
//   border-radius: 6px;
//   margin-bottom: 20px;
//   font-size: 14px;

//   &:hover {
//     background-color: rgb(154, 121, 185);
//   }
// }
