@import "../../colors.scss";

.register {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 5em;
  margin-bottom: 7em;
  font-size: 16px;

  .register-form {
    width: 220px;

    input {
      font-family: "Archivo", sans-serif;
      height: 21px;
      width: 200px;
      padding: 4px 11px;
      color: rgba(0, 0, 0, 0.814);
      font-size: 13px;
      line-height: 1.5714285714285714;
      border-width: 1px;
      border-style: solid;
      border-color: #d9d9d9;
      border-radius: 6px;
      transition: all 0.2s;
      margin-bottom: 16px;
      &::placeholder {
        color: rgb(188, 188, 188);
      }
      &:focus {
        outline: 0.5px solid #4096ff;
        box-shadow: 0px 0px 5px rgba(56, 169, 240, 0.75);
      }
      &:hover {
        outline: 0.5px solid #4096ff;
      }
    }

    .custom-input-file {
      background-color: #ffffff;
      color: rgb(181, 181, 181);
      font-size: 13px;
      font-family: "Archivo", sans-serif;
      cursor: pointer;
      width: 205px;
      border-radius: 6px;
      margin: 5px 0px 20px 0px;
      height: 21px;
      overflow: hidden;
      padding: 11px 6px 3px 12px;
      position: relative;
      text-align: left;
      border-width: 1px;
      border-style: solid;
      border-color: #d9d9d9;
      &:focus {
        outline: 0.5px solid #4096ff;
        box-shadow: 0px 0px 5px rgba(56, 169, 240, 0.75);
      }
      &:hover {
        outline: 0.5px solid #4096ff;
      }

      .input-file {
        border: 10000px solid transparent;
        cursor: pointer;
        outline: 0 none;
        padding: 0;
        position: absolute;
        right: -1000px;
        top: -1000px;
      }
    }

    .ant-btn {
      background-color: $terciario1;      
      font-family: "Archivo", sans-serif;
      font-weight: 200;
      &:hover {
        background-color: $secundario;
      }
    }
  }

  .logo {
    height: 95px;
    margin-bottom: 30px;
  }

  a {
    text-decoration: none;
    font-size: medium;
    color: $terciario1;
    &:hover {
      color: $secundario;
    }
  }
}
