@import "../../colors.scss";

.footer {
  background-color: $primario;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 86px;
  display: flex;
  justify-content: center;
  flex-direction: column;  
  border-top: 1px solid #dddedf;

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    
    .inicio {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: center;
      height: 50px;
      font-size: 12px;
      .icon-home {
        height: 25px;
        margin: 0px;
        margin-bottom: 3px;
      }
    }
    .chat {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: center;
      height: 50px;
      font-size: 12px;
      .icon-chat {
        height: 30px;
        margin: 0px;
      }
    }
    .perfil {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: center;
      height: 50px;
      font-size: 12px;
      .icon-user {
        height: 30px;
        margin: 0px;
      }
    }
    .admin {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: center;
      height: 50px;
      font-size: 12px;
      
    }
  }
}
