@import "../../colors.scss";

.footer {
  background-color: $primario;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 5px;
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    a {
      all: unset;
      cursor: pointer;
      color: $textos;
      font-size: 20px;
      &:hover {
        color: $terciario1;
      }
    }
    .inicio {      
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: center;
      height: 50px;
      font-size: 12px;
    }
    .chat {      
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: center;
      height: 50px;
      font-size: 12px;
    }
    .perfil {      
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: center;
      height: 50px;
      font-size: 12px;
    }
    .admin {      
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: center;
      height: 50px;
      font-size: 12px;
    }
  }
}
