#map {
  display: flex;
    margin-left: 10%;
    margin-top: 20%;
}

#map {
  width: 300px;
  height: 200px;
  border-radius: 2%;
}

.mapboxgl-ctrl-geocoder{
  display: flex;
  position: relative;
  bottom: 60px;
}


// class="mapboxgl-ctrl-geocoder mapboxgl-ctrl"