@import "../../colors.scss";

.addIncident {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .addIncident-form {
    margin-top: 2px;
    margin-left: 16px;
    margin-right: 16px;
    width: 358px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-weight: 700;
      font-size: 22px;
      line-height: 32px;
      color: $terciario1;
      margin-bottom: 39px;
    }

    .category {
      margin-bottom: 15px;

      label {
        color: rgb(175, 175, 175);
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        position: absolute;
        top: 134px;
        left: 39px;
        z-index: 999;
      }
      .ant-select.input-category {
        width: 350px;
        .ant-select-selector {
          width: 358px;
          height: 50px;
          border: 2px solid rgba(15, 23, 42, 0.15);
        }
        span {
          font-size: 20px;
        }
      }
    }

    input {
      width: 329px;
      height: 46px;
      margin-bottom: 20px;
      padding-left: 22px;
      font-family: "Archivo", sans-serif;
      color: rgb(175, 175, 175);
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      border: 2px solid rgba(15, 23, 42, 0.15);
      border-radius: 5px;
      transition: all 0.2s;
      &::placeholder {
        color: rgb(188, 188, 188);
      }
      &:focus {
        outline: 0.5px solid #4096ff;
        box-shadow: 0px 0px 5px rgba(56, 169, 240, 0.75);
      }
      &:hover {
        outline: 0.5px solid #4096ff;
      }
    }

    .custom-input-file {
      width: 332px;
      height: 49px;
      margin: 5px 0px 21px 0px;
      background-color: #ffffff;
      color: rgb(175, 175, 175);
      font-weight: 400;
      font-size: 15px;
      line-height: 48px;
      padding-left: 22px;
      font-family: "Archivo", sans-serif;
      cursor: pointer;
      border-radius: 5px;
      overflow: hidden;
      position: relative;
      text-align: left;
      display: flex;
      justify-content: space-between;

      border: 2px solid rgba(15, 23, 42, 0.15);
      &:focus {
        outline: 0.5px solid #4096ff;
        box-shadow: 0px 0px 5px rgba(56, 169, 240, 0.75);
      }
      &:hover {
        outline: 0.5px solid #4096ff;
      }

      .input-file {
        border: 10000px solid transparent;
        cursor: pointer;
        outline: 0 none;
        padding: 0;
        position: absolute;
        right: -1000px;
        top: -1000px;
      }

      .upload-image {
        align-self: center;
        margin-right: 12px;
        width: 24px;
      }
    }

    textarea {
      width: 312px;
      height: 100px;
      font-family: "Archivo", sans-serif;
      padding: 20px 20px;
      color: rgb(175, 175, 175);
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      border: 2px solid rgba(15, 23, 42, 0.15);
      border-radius: 5px;
      transition: all 0.2s;
      margin-bottom: 16px;
      &::placeholder {
        color: rgb(175, 175, 175);
      }
      &:focus {
        outline: 0.5px solid #4096ff;
        box-shadow: 0px 0px 5px rgba(56, 169, 240, 0.75);
      }
      &:hover {
        outline: 0.5px solid #4096ff;
      }
    }
  }
  .ant-btn {
    font-family: "Archivo", sans-serif;
    margin-top: 100px;
    background-color: $terciario1;
    border-radius: 5px;
    width: 305px;
    height: 38px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    &:hover {
      background-color: $secundario;
    }
  }
}
