@import "../../colors.scss";

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;

  .login-form {
    text-align: center;
    width: 220px;

    .ant-btn {
      background-color: $terciario1;
      font-family: "Archivo", sans-serif;
      font-weight: 200;

      &:hover {
        background-color: $secundario;
      }
    }
    .ant-input-affix-wrapper {
      color: $terciario1;
      font-size: 13px;
      padding-top: 5px;
    }
    span {
      padding-bottom: 1.5px;
    }
  }

  .logo {
    height: 140px;
    margin-bottom: 30px;    
  }
  a {
    text-decoration: none;
    font-size: medium;
    color: $terciario1;
    &:hover {
      color: $secundario;
    }
  }
}

.ant-input {
  font-family: "Archivo", sans-serif;
  
}

.recaptcha-container {
  margin-left: -40px;
  margin-bottom: 20px;
}


