@import "../../colors.scss";

.incident {
  margin-top: 1em;
  width: 390px;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap-reverse;

  .card {
    font-family: "Archivo", sans-serif;
    border-top: 1px solid rgba(128, 128, 128, 0.239);
    height: 292px;
    width: 391px;

    a {
      all: unset;
      cursor: pointer;
    }

    .top-container {
      margin: 10px 16px;
      display: flex;
      justify-content: space-between;

      .usuario {
        display: flex;
        margin-top: 10px;
        width: 65%;

        .ant-avatar {
          background-color: none;
        }

        .nombre {
          display: flex;
          flex-direction: column;
          padding-top: 5px;
          padding-left: 14px;
          font-size: 17.42px;
          font-weight: 400;
          gap: 5px;

          .ubicacion {
            width: 155px;
            font-size: 12px;
            font-weight: 700;
          }
        }
      }

      .estado-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 16px;
        margin-bottom: 30px;

        .estado-incidencia {
          width: 122px;
          height: 33px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid rgba(15, 23, 42, 0.5);
          border-radius: 5px;
          font-size: 11px;
          font-weight: 700;
          margin-bottom: 10px;
          span {
            color: $secundario;
            margin-left: 3px;
          }
        }
        .fecha {
          display: flex;
          justify-content: flex-end;
          font-size: 10px;
          font-weight: 300;
          width: auto;
        }
      }
    }

    .bottom-container {
      display: flex;

      .imagen-incidencia {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .img-container {
          width: 138px;
          height: 133px;
          background-size: cover;
          background-position: center;
        }
      }

      .descripcion-incidencia {
        width: 60%;
        padding: 0px 15px 0px 15px;
        .category {
          font-size: 12px;
          font-weight: 700;
          text-transform: capitalize;
        }
        h1 {
          font-size: 12px;
          font-weight: 400;
        }
        p {
          font-size: 12px;
          font-weight: 300;
          text-align: justify;
        }
      }
    }
  }
}
