@import "../../colors.scss";

.incident {
  margin-top: 1em;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap-reverse;
  gap: 20px;

  .card {
    font-family: "Archivo", sans-serif;
    border-top: 1px solid rgba(128, 128, 128, 0.5);

    a {
      all: unset;
      cursor: pointer;
    }

    .top-container {
      margin: 20px 18px 8px 18px;
      display: flex;

      .usuario {
        display: flex;
        align-items: center;
        width: 70%;
        .ant-avatar {
          box-shadow: 0em 0.2em 0.5em rgba(0, 0, 0, 0.3);
        }

        .nombre {
          margin-left: 20px;
          font-size: 19px;
          font-weight: 300;
        }
      }

      .estado-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 5px;
        .estado-incidencia {
          display: flex;
          justify-content: center;
          border-width: 1px;
          border-style: solid;
          border-color: rgba(128, 128, 128, 0.5);
          border-radius: 6px;
          padding: 7px;
          font-size: 13px;
          font-weight: 700;
          margin-bottom: 10px;
          span {
            color: $secundario;
            margin-left: 3px;
          }
        }
        .fecha {
          color: rgba(128, 128, 128, 0.5);
          display: flex;
          justify-content: flex-end;
          font-size: 12px;
          width: auto;
        }
      }
    }

    .mid-container {
      height: 20px;
      display: flex;
      align-items: center;
      margin-top: 15px;
      .category {
        width: 42%;
        text-align: center;
        font-size: 13px;
        text-transform: capitalize;
      }
      .ubicacion {
        width: 60%;
        font-size: 12px;
        font-weight: 700;
        padding-left: 12px;
      }
    }

    .bottom-container {
      display: flex;

      .imagen-incidencia {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 5px;
      }

      .descripcion-incidencia {
        width: 60%;
        padding: 0px 15px 0px 15px;

        h1 {
          font-size: 14px;
        }
        p {
          font-size: 12px;
          font-weight: 300;
          text-align: justify;
        }
      }
    }
  }
}
